.wrap2 {
	width: 1130px;
	margin-left: auto;
	margin-right: auto;
}

.wrap {
	display: inline-block;
	vertical-align: top;
	word-break: break-all;
	word-wrap: break-word;
}

.imgbox {
	width: 100px;
	height: 100px;
	background-color: gray;
}

.content {
	display: inline-block;
	margin-top: 20px;
}

.bgc {
	background-color: #F7F8F9;
}

.imgbtn {
	width: 56px;
	border: none;
}

.img2 {
	width: 100px;
}

.nameleader {
	margin-left: 10px;
	line-height: 11px;
	margin-top: -25px;
}

.container2 {
	width: 1700px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.item {
	flex: 1 1 40%;
	list-style: none;
	margin-top: 60px;
}

.writelistbtn {
	display: flex;
	justify-content: center;
}

.writelistbtn2 {
	display: flex;
	justify-content: center;
	margin-top: -50px;
}

.writelistbtn2 .rightbtn {
	margin: 10px 10px 10px 10px;
	font-size: 12px;
	width: 5rem;
	border-radius: 10px;
	height: 3.2rem;
	background-color: #b5daff;
	color: black;
	border: 3px solid #b5daff;
	font-family: 'Noto Sans KR', sans-serif;
}

.writelistbtn2 .rightbtn2 {
	margin: 10px 10px 10px 10px;
	font-size: 12px;
	width: 5rem;
	border-radius: 10px;
	height: 3.2rem;
	background-color: #444;
	color: #fff;
	border: 1px solid #303030;
	font-family: 'Noto Sans KR', sans-serif;
}

.writelistbtn2 .rightbtn3 {
	margin: 10px 10px 10px 10px;
	font-size: 12px;
	width: 5rem;
	border-radius: 10px;
	height: 3.2rem;
	background-color: #fff;
	color: #7c7474;;
	border: 1px solid #aaa;
	font-family: 'Noto Sans KR', sans-serif;
}

.writelistbtn .rightbtn {
	margin: 10px 10px 10px 10px;
	font-size: 12px;
	width: 5rem;
	border-radius: 10px;
	height: 3.2rem;
	background-color: #b5daff;
	color: black;
	border: 3px solid #b5daff;
	font-family: 'Noto Sans KR', sans-serif;
}

.writelistbtn .rightbtn2 {
	margin: 10px 10px 10px 10px;
	font-size: 12px;
	width: 5rem;
	border-radius: 10px;
	height: 3.2rem;
	background-color: #444;
	color: #fff;
	border: 1px solid #303030;
	font-family: 'Noto Sans KR', sans-serif;
}

.writelistbtn .rightbtn3 {
	margin: 10px 10px 10px 10px;
	font-size: 12px;
	width: 5rem;
	border-radius: 10px;
	height: 3.2rem;
	background-color: #fff;
	color: #7c7474;;
	border: 1px solid #aaa;
	font-family: 'Noto Sans KR', sans-serif;
}

.hline {
	width: 820px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .1);
	margin-left: 0px;
}

.roomname {
	font-weight: 600;
	font-size: 14px;
}

.roomabout {
	font-size: 13px;
	font-weight: 400;
}

.roomsize {
	font-size: 12px;
	font-weight: 400;
	color: #999;
}