.bgc{
    background-color: #F7F8F9;
    margin-top: 30px;
}
.gal_width {
    max-width: 1130px;
    background-color: #F7F8F9;
}
.ulflex{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    list-style: none;
}
.liflex{
    min-height: 200px;
    flex-basis: 150px;
    flex-grow: 1;
}
.thumb{
    width: 250px;
    height : 160px;
}
.rightbtn2{
    float: right;
    margin: 10px 10px 10px 10px;
    font-size: 12px;
    width: 5rem;
    border-radius: 10px;
    height: 2.8rem;
    background-color: #444;
    color: #fff;
    border: 1px solid #303030;
    font-family: 'Noto Sans KR', sans-serif;
}

.rightbtn4{
    float: right;
    margin: 10px 10px 10px 10px;
    font-size: 12px;
    width: 8rem;
    border-radius: 10px;
    height: 4rem;
    background-color: #444;
    color: #fff;
    border: 1px solid #303030;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 30px;
}
.uploadtitle {
    font-size: 12px;
}
.uploadname {
    font-size: 12px;
}
.uploaddate{
    font-size: 12px;
}
