<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="groupMapper">

	<resultMap type="GammiGroup" id="resultList">
		<result property="group_no" column="group_no" />
		<result property="group_owner" column="group_owner" />
		<result property="group_name" column="group_name" />
		<result property="group_date" column="group_date" />
		<result property="group_info" column="group_info" />
		<result property="group_img" column="group_img" />
	</resultMap>
	
	<select id = "selectAllList" resultType="GammiGroup">
	select * from GAMMIGROUP
	</select>
	
	<insert id="insertGroup" parameterType="GammiGroup">
		insert into gammigroup
		values ( default, #{group_owner}, #{group_name}, default, #{ group_info }, #{group_img})
	</insert>
	
</mapper>







