<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recipeMapper">
	<resultMap type="Recipe" id="resultRecipe">
		<id column="recipe_num" property="recipe_num" />
		<result column="recipe_writer" property="recipe_writer" />
		<result column="recipe_title" property="recipe_title" />
		<result column="recipe_content" property="recipe_content" />
		<result column="recipe_original_imgname" property="recipe_original_imgname" />
		<result column="recipe_rename_imgname" property="recipe_rename_imgname" />
		<result column="recipe_readcount" property="recipe_readcount" />
		<result column="recipe_readcount_week" property="recipe_readcount_week" />
		<result column="recipe_date" property="recipe_date" />
		
	</resultMap>
	
	<select id="selectTop5" resultType="Recipe">
		<![CDATA[
		select *
		from (select rownum rnum, recipe_num, recipe_title, recipe_img,recipe_url,recipe_readcount,recipe_readcount_week
		      from (select * from recipe
		            order by recipe_readcount desc))
		where rnum >= 1 and rnum <= 5
		]]>
	</select>
	
	<select id="selectTop7" resultType="Recipe">
		<![CDATA[
		select *
		from (select rownum rnum, recipe_num, recipe_title, recipe_img,recipe_url,recipe_readcount,recipe_readcount_week
		      from (select * from recipe
		            order by recipe_readcount desc))
		where rnum >= 1 and rnum <= 7
		]]>
	</select>
	
	<select id="getListCount" resultType="_int">
		select count(*) from recipe
	</select>
	
	
	<select id="selectList" parameterType="Paging" resultMap="resultRecipe">
		<![CDATA[
			select *  
			from (select rownum rnum, recipe_num, recipe_title, 
						  recipe_writer, recipe_content, 
						  recipe_original_imgname,  
			               recipe_rename_imgname, recipe_date, 
			               recipe_readcount, recipe_readcount_week 
			       from (select * from recipe 
			              order by recipe_date desc))
			where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
	</select>
	
	<select id="selectStarList" parameterType="Paging" resultMap="resultRecipe">
		<![CDATA[
			select *  
			from (select rownum rnum, recipe_num, recipe_title, 
						  recipe_writer, recipe_content, 
						  recipe_original_imgname,  
			               recipe_rename_imgname, recipe_date, 
			               recipe_readcount, recipe_readcount_week 
			       from (select * from recipe 
			              order by recipe_readcount desc))
			where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
	</select>
	
	<update id="addReadCount" parameterType="_int">
		update recipe
		set recipe_readcount = recipe_readcount + 1
		where recipe_num = #{ recipe_num }
	</update>
	
	<select id="selectRecipe" parameterType="_int" resultMap="resultRecipe">
		select * from recipe
		where recipe_num = #{ recipe_num }
	</select>
	
	<delete id="deleteRecipe" parameterType="_int">
		delete from recipe
		where recipe_num = #{ recipe_num }
	</delete>
	
	<update id="updateRecipe" parameterType="Recipe">
		update recipe
		set recipe_title = #{recipe_title}, 
			recipe_content = #{recipe_content}
			<if test="recipe_original_imgname != null">
				, 
				recipe_original_imgname = #{recipe_original_imgname},
				recipe_rename_imgname = #{recipe_rename_imgname}
			</if>
			<if test="recipe_original_imgname == null">
				, 
				recipe_original_imgname = null,
				recipe_rename_imgname = null
			</if>
		where recipe_num = #{ recipe_num }
	</update>
	
	<insert id="insertRecipe" parameterType="Recipe">
		insert into recipe (recipe_num, 
							recipe_title, 
							recipe_writer, 
							recipe_content, 
							recipe_date, 
							recipe_original_imgname, 
							recipe_rename_imgname, 
							recipe_readcount, recipe_readcount_week)
				
		values (default, 
				#{recipe_title}, 
				#{recipe_writer}, 
				#{recipe_content}, 
				sysdate, 
				#{recipe_original_imgname}, 
				#{recipe_rename_imgname},
				default, default)
	</insert>
	
	<select id="getSearchTListCount" resultType="_int" parameterType="string">
		select count(*) from recipe
		where recipe_title like '%' || #{ keyword } || '%'
		order by recipe_readcount desc
	</select>
	
	<select id="getSearchCListCount" resultType="_int" parameterType="string">
		select count(*) from recipe
		where recipe_content like '%' || #{ keyword } || '%'
		order by recipe_readcount desc
	</select>
	
	<select id="searchTitle" resultMap="resultRecipe" parameterType="SearchPaging">
		<![CDATA[
			select *  
			from (select rownum rnum, recipe_num, recipe_title, 
						  recipe_date, recipe_writer, 
						  recipe_content,  
			               recipe_original_imgname, recipe_rename_imgname, 
			               recipe_readcount
			       from (select * from recipe
			       		   where recipe_title like '%' || #{ keyword } || '%'
			               order by recipe_num desc)) 
			where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
	</select>
	
	<select id="searchContent" resultMap="resultRecipe" parameterType="SearchPaging">
		<![CDATA[
			select *  
			from (select rownum rnum, recipe_num, recipe_title, 
						  recipe_date, recipe_writer, 
						  recipe_content,  
			               recipe_original_imgname, recipe_rename_imgname, 
			               recipe_readcount
			       from (select * from recipe
			       		   where recipe_content like '%' || #{ keyword } || '%'
			               order by recipe_num desc)) 
			where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
	</select>
	
	
	
</mapper>