<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchRecipeMapper">
	<resultMap type="Recipe" id="searchResultRecipe">
		<id column="recipe_num" property="recipe_num" />
		<result column="recipe_writer" property="recipe_writer" />
		<result column="recipe_title" property="recipe_title" />
		<result column="recipe_content" property="recipe_content" />
		<result column="recipe_original_imgname" property="recipe_original_imgname" />
		<result column="recipe_rename_imgname" property="recipe_rename_imgname" />
		<result column="recipe_readcount" property="recipe_readcount" />
		<result column="recipe_readcount_week" property="recipe_readcount_week" />
		<result column="recipe_date" property="recipe_date" />
	</resultMap>

</mapper>
